body{
     margin: 0;
     padding: 0;
     color: #fff;
     background: #000;
     text-align: left;
     font-family: 'ubuntu', sans-serif;
     user-select: none;
     }
     
     #playbtn{
     top: calc(50vh - 25px);
     left: calc(50% - 50px);
     margin: auto;
     position: absolute;
     justify-content: center;
     text-align: center;
     align-items: center;
     animation: turn 1s infinite;
     }
     
     #playbtn i{
     font-size: 50px;
     }
     
     #controls{
     display: block;
     position: absolute;
     width: 100%;
     bottom: 5px;
     }

     
     #timeline{
     width: calc(100% - 10px);
     height: 12px;
     bottom: 50px;
     margin-left: 5px;
     border-radius: 8px;
     background: #2e86c1;
     position: absolute;
     }
     
     #used-time{
     width: 60%;
     height: 100%;
     border-radius: inherit;
     background: #d6eaf8;
     position: absolute;
     }
     
     #now-time{
     width: 12px;
     height: 12px;
     border-radius: 50%;
     background: #5dade2;
     position: relative;
     display: block;
     margin-left: 60%;
     }
     
     #now-time:hover{
     background: #21618c;
     }
     
     #timeline2{
     width: 95%;
     height: 12px;
     bottom: 80px;
     margin-left: 2.5%;
     position: absolute;
     display: none;
     }
     
     input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2e86c1;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: #5dade2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: none;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: #5dade2;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
     
     #settings{
     width: 40%;
     height: 50vh;
     background: #2e86c1;
     color: #fff;
     position: absolute;
     top: calc(100vh - 50vh);
     right: 30px;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     display: none;
     text-align: center;
     }
     
     #settings-embed{
     display: block;
     color: #000;
     }
     
     #settings-embed textarea{
     resize: none;
     height: 30px;
     width: 80%;
     border: none;
     color: #2e86c1;
     border-radius: 8px;
     background: #fff;
     font-size: 15px;
     margin: 0px 5px 5px 5px;
     }
     
     #settings-btn:hover{
     transform: rotate(45deg);
     animation: turn2 3s linear;
     transition: .2s linear;
     }
     
     #casting{
     width: 40%;
     height: 40vh;
     top: 60vh;
     position: absolute;
     background: #5dade2;
     left: 30px;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     display: none;
     }
     
     #cast-btn{
     display: none;
     }
     
     #times{
     float: left;
     position: absolute;
     bottom: -5px;
     left: 80px;
     user-select: none;
     }
     
     #videoname{
     font-size: 26px;
     position: absolute;
     top: 0;
     margin: 15px;
     display: none;
     }
     
     .btn-right{
     margin: 10px;
     display: flex;
     float: right;
     position: relative;
     }
     
     .btn-left{
     margin: 10px;
     float: left;
     position: relative;
     }
     
     video{
     height: calc(100vh - 5px);
     width: 100%;
     }
     
     button{
     height: 30px;
     width: 80%;
     border: 4px solid;
     color: #fff;
     border-radius: 8px;
     background: inherit;
     font-size: 15px;
     margin: 5px;
     }
     
     select{
     height: 30px;
     width: 80%;
     border: none;
     color: #2e86c1;
     border-radius: 8px;
     background: #fff;
     font-size: 15px;
     margin: 5px;
     margin-top: 0px;
     appearance: none;
     }
     
     i{
     color: #fff;
     font-size: 20px;
     }
     
     i:hover{
     color: #5dade2;
     }
     
     a{
     color: #fff;
     text-decoration: none;
     }
     
     a:hover{
     color: #fff;
     }
     
     @media screen and (max-width:1000px){
      #cast-btn { display: none; }
      }
      
      @media screen and (max-height:550px){
      #settings { height: 90vh; top: 10vh; }
      }
      
      @media screen and (max-width:220px){
      #times { display: none; }
      }
      
      @media screen and (max-width:450px){
      #settings i { display: none; }
      #settings img { display: none; }
      #settings .github-link { display: none; }
      #settings { width: 80%; }
      }
      
     @keyframes turn{
     to{ transform: rotate(720deg); }
     }
     
     /* Farben
     dunkelblau: #2e86c1
     blau: #5dade2
     hellblau: #d6eaf8
     */
